@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}

::selection{
    color: white;
    background: red;
}

nav{
    position: fixed;
    background-color: rgba(0,0,0,0.8);
    width: 100%;
    padding: 10px 0;
    z-index: 1;

}

nav .menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    margin: auto;
    max-width: 1250px;
}

.menu .logo a{
    text-decoration: none;
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}

.menu ul{
    display: inline-flex;
    justify-content: space-between;
}

.menu ul li{
    list-style-type: none;
    margin-left: 7px;
}


.menu ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

.menu ul li a:hover{
    background-color: white;
    color: black;
}

@media only screen and (max-width:600px) {
    .menu {
        display: flex;
        flex-direction: column;
    }
    .menu ul {
        display: flex;
        flex-direction: column;
    }
    .menu ul li {
        padding-top: 5px;
        text-align: center;
        border-bottom: 1px solid white;

    }
    .menu ul li a:hover{
        background:none;
        font-size: 20px;
        color: #fff;
    }
    .center{
        width: 100%;
        margin-top: 70px;
    }
}

.img{
    background: url('https://media.macphun.com/img/uploads/macphun/blog/2183/william-thomas-ny6tO4ItOEY-unsplash.jpg')no-repeat;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
}

.center{
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    padding: 0 20px;
    text-align: center;
}

.center .title{
    color: #fff;
    font-size: 55px;
    font-weight: 600;
}
.center .sub-title{
    color: #fff;
    font-size: 50px;
    font-weight: 600;
}
.center .btns{
    margin-top: 50px;
}

.center .btns button{
    height: 55px;
    width: 170px;
    border-radius: 5px;
    border: none;
    margin: 0 10px;
    border: 2px solid white;
    font-size: 20px;
    font-weight: 500;
    padding: 0 10px;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease;
}
.btns button:first-child{
    background:none;
    color: #fff;
}
.btns button:first-child:hover{
    background-color: #fff;
    color: black;
}
.btns button:last-child:hover{
    background: none;
    color: #fff;
}